<mat-toolbar color="primary">
    <mat-icon>extension</mat-icon><span> The Ultimate Tasks Tracker</span>
    <span class="example-spacer"></span>
    <a href="https://www.linkedin.com/in/ezequiel-santana/" target="_blank">
      <button mat-mini-fab color="primary" class="example-icon favorite-icon" aria-label="Button to my LinkedIn">
        <mat-icon>person_add</mat-icon>
      </button>
    </a>
    <a href="https://github.com/eskielsantana" target="_blank">
      <button mat-mini-fab color="primary" class="example-icon favorite-icon" aria-label="Button to my GitHub">
        <mat-icon>terminal</mat-icon>
      </button>
    </a>
</mat-toolbar>