<app-underbar [updateData]="loadData" [viewMode]="'Table'"/>
<div class="content">

    <div class="table-card">

        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element['name']}} </td>
          </ng-container>
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element['state']}} </td>
          </ng-container>
          <ng-container matColumnDef="estimate">
            <th mat-header-cell *matHeaderCellDef> Estimate </th>
            <td mat-cell *matCellDef="let element"> {{element['estimate']}} {{plural(element['estimate'], 'hr', 'hrs')}}</td>
          </ng-container>
        
          <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                @if (expandedElement === element) {
                  <mat-icon>keyboard_arrow_up</mat-icon>
                } @else {
                  <mat-icon>keyboard_arrow_down</mat-icon>
                }
              </button>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">Actions</th>
            <td mat-cell *matCellDef="let task">
              <button mat-icon-button aria-label="expand row" [matTooltipPosition]="'left'" matTooltip="Edit this Task data" (click)="editTask(task);$event.stopPropagation()">
                <mat-icon>edit_document</mat-icon>
              </button>
              <button mat-icon-button aria-label="expand row" [matTooltipPosition]="'right'" matTooltip="Delete this Task once for all!" (click)="deleteTask(task);$event.stopPropagation()">
                <mat-icon>highlight_off</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
              <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-description">
                  {{element.desc}}
                  <span class="example-element-description-attribution"></span>
                </div>
              </div>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

    </div>



</div>

