.task-dialog-card {
    max-width: 600px;
    width: 600px;
    margin-bottom: 8px;
}

.example-full-width {
    width: 100%;
}

.dialog-title {
    display: flex;
    align-items: center;
    padding-bottom: 0px;
    margin: 5px;
}

.dialog-title p {
    margin: 0;
    margin-left: 5px;
}

.edit-button {
    /* padding: 0; */
    /* width: 36px; */
    /* height: 36px; */
}

.edit-button .mat-icon {
    /* margin: 0; */
}

.example-spacer { flex: 1 1 auto; }