<mat-toolbar class="underbar">
  <button mat-raised-button [matMenuTriggerFor]="afterMenu">View: Board</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item routerLink="/board"><mat-icon>developer_board</mat-icon> Board</button>
    <button mat-menu-item routerLink="/table"><mat-icon>table_rows</mat-icon> Table</button>
  </mat-menu>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openDialog()"><mat-icon>add_task</mat-icon> Add Task</button>
</mat-toolbar>